*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: white;
    padding: 10px;

}

html, body{
    width: 100vw;
    height: 100vh;
    background-color: #233eff;
}

body{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}


@media screen and (orientation: portrait){
    body{
        background: url('/img/cev-portrait.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

}

@media screen and (orientation: landscape){
    body{
        background: url('/img/cev-landscape.jpg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top center;
    }
}